.scene-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    overflow: hidden;
}
  
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    object-fit: cover; 
    object-position: center bottom; 
}
  
.blur-layer {
    opacity: 0;
    transition: opacity 0.4s ease-in-out; 
    z-index: 1;
}
  
.blur-layer.visible {
    opacity: 1;
}
  

.person-trigger {
    position: absolute;
    z-index: 10; 
    bottom: 52%; 
    right: 37%; 
    
    width: 180px; 
    height: 180px;
    border-radius: 50%; 
    
    cursor: pointer; 
}

.wearable-look {
    z-index: 10; 
    margin-bottom: -120%; 
    rotate: 60deg; 
    margin-left: 32%;
    margin-top: 77%;
    line-height: 140px; 
    font-size: 16px;
    color: black;
    font-weight: bold;
}