.home {
  min-height: calc(100vh - 90px); 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #2f3b82;
}

.transition-wrapper {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f6f7fa;
}
