body.vibrationblurred {
    background-image: url(Vibration.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100vh;
    overflow: hidden;
  }
  
  .cue-link {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    z-index: 10;
  }
  
  .cue-link:hover {
    opacity: 0.8;
    transform: translateX(-50%) scale(1.05);
  }