.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f7f8fa;
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
  
  .navbar-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.2rem;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-logo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #2f3b82;
  
    color: white;
    text-decoration: none;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: auto;
    margin-left: -230px;
    padding: 0;
    
  }
  
  .navbar-list {
    display: flex;
    gap: 4rem;
    list-style: none;
    margin: 0;
    margin-right: -150px;
    padding: 0;
  }
  
  .navbar-link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #2f3b82;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  .navbar-link.active {
    font-weight: 500;
  }